html#html
    head
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( http-equiv='X-UA-Compatible', content='ie=edge' )

        noscript
            meta( http-equiv='refresh', content='1; url=/unsupported.html' )

        title APP
    body#body